body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1.5rem;
    background-image: url(images/copy.jpg);
    scroll-behavior: smooth;
}

.nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    color: white;
    display: flex;
    width: 100%;
    background-color: #303958;
    height: 60px;
    align-items: center
}
.nav-btn{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}
.nav-btn .btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    cursor: pointer;
}
.nav-btn .btn:hover{
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}
.nav-logo{
    position: absolute;
    left: 0;
    padding: 1rem;
    font-weight: 600;
    cursor:grab;
}
.title{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.image{
    position: absolute;
    right: 10rem;
    top: 8rem;
    
}
.ellipse{
    background-color: #303958;
    height: 600px;
    clip-path: ellipse(90% 100% at 30% 0%);
}
.about{
    display: block;
    position: absolute;
    top: 10rem;
    left: 5rem;
    color: white;
    width: 700px;
    padding: 3rem;
    border-radius: 2.5rem;
    cursor: pointer;
    text-align: justify;
    transition: all 0.2s;
}
.about:hover{
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.skills{
    display: block;
    position: absolute;
    right: 5rem;
    color: #20263b;
    width: 700px;
    padding: 3rem;
    border-radius: 2.5rem;
    cursor: pointer;
    margin-top: 5rem;
    transition: all 0.2s;
}
.skills:hover{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.certificates{
    display: block;
    position: absolute;
    left: 5rem;
    color: #20263b;
    width: 700px;
    padding: 3rem;
    border-radius: 2.5rem;
    cursor: pointer;
    margin-top: 5rem;
    top: 55rem;
    transition: all 0.2s;
}
.certificates:hover{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.footer{
    background-color: #303958;
    color: white;
    text-align: center;
    position: relative;
    margin-top: 50rem;
    box-shadow: 0 -15px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transition: all 0.2s;
}
.contact{
    position: relative;
    text-align: left;
    padding: 2rem 2rem;
    height: auto;
    transition: all 0.2s;
}
.contact .title{
    font-size: 2rem;
}
.contact .text{
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.contact .text p{
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
}
.contact .text a{
    text-decoration: none;
    color: white;
}
.contact .text a:hover .material-symbols-outlined{
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 30;
    transition: all 0.2s;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}

.copyright{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem 0 ;
    font-size: 0.8rem;
}
@media (max-width: 1400px) {
    .image{
        display: none;
    }
}

@media (max-width: 800px) {
    body{
        font-size: 1rem;
    }
    .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
    }
    .nav{
        height: 40px
    }
    .nav-btn{
        display: none;
    }
    .ellipse{
        height: 400px;
        clip-path: none;
        border-radius: 0 0 50% 50% / 0 0 25px 25px;
    }
    .image{
        display: none;
    }

    .ellipse .about{
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        text-align: center;
        padding: 1rem
    }
    .title{
        text-align: center;
        font-size: 1.5rem;
    }
    .skills{
        top: 25rem;
        right: 50%;
        transform: translateX(50%);
        width: 300px;
        text-align: left;
        padding: 1rem
    }
    .certificates{
        top: 45rem;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        text-align: left;
        padding: 1rem
    }
    .footer{
        margin-top: 40rem;
    }
    .contact{
        padding: 1rem 1rem;
        text-align: center;
        height: auto
    }
    .contact .c-title{
        font-size: 1.5rem;
    }
    .contact .text{
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .contact .text p{
        justify-content: center;
    }
    .contact .text a{
        font-size: 1rem;
    }
    .copyright{
        font-size: 0.7rem;
    }
}
